---
/**
 * * This is a component that displays three creation cards
 * Larger on the left, smaller two on the right
 */

import { getCollection } from "astro:content";

// components
import CreationCard from "@components/CreationCard/CreationCard.astro";
import Button from "@components/Button/Button.astro";

const creations = await getCollection("creations");

const sortedCreations = creations.sort((a, b) => {
	if (a.data.order < b.data.order) {
		return -1;
	}
	if (a.data.order > b.data.order) {
		return 1;
	}
	return 0;
});

const firstThreeCreations = sortedCreations.slice(0, 3);
---

<section id="creations" class="site-container mt-12 scroll-mt-10 py-8 md:py-12">
	<div class="mx-auto max-w-6xl text-center">
		<h2 class="h2 text-pretty uppercase">
			Des accessoires originaux alliant broderie d'or, argent, pierres naturelles, perles miyuki... 
		</h2>
	</div>
	<div class="grid gap-10 pt-8 md:grid-cols-2 md:pt-12">
		<div class="md:bg-base-100 md:rounded-md md:p-10 md:pb-6">
			<CreationCard creation={firstThreeCreations[0]} direction="vertical" />
		</div>
		<!-- div class="md:bg-base-100 md:rounded-md md:p-10 md:pb-6">
			<CreationCard creation={firstThreeCreations[1]} direction="vertical" />
		</div -->
		<div class="flex h-full flex-col justify-between gap-y-6">
			<CreationCard creation={firstThreeCreations[1]} direction="horizontal" />
			<hr class="border-base-100 hidden border md:block" />
			<CreationCard creation={firstThreeCreations[2]} direction="horizontal" />
		</div>
	</div>

	<div class="mt-12 flex justify-center">
		<Button href="/creations" variant="outline">Voir d'autres créations</Button>
	</div>
</section>
