---
import { type CollectionEntry, getCollection, render } from "astro:content";

// components
import CreationCard from "@components/CreationCard/CreationCard.astro";

interface Props {
	creations: CollectionEntry<"creations">[];
	noTransitions?: boolean;
}

const creations = await getCollection("creations");

const sortedCreations = creations.sort((a, b) => {
	if (a.data.datePublication > b.data.datePublication) {
		return -1;
	}
	if (a.data.datePublication < b.data.datePublication) {
		return 1;
	}
	return 0;
});

const {
	noTransitions = false } = Astro.props as Props;
---

<div class="grid gap-x-4 gap-y-10 pt-8 md:grid-cols-2 md:pt-12">
	{sortedCreations.map((creation) => <CreationCard creation={creation} direction="vertical" />)}
</div>
