---
import { type CollectionEntry, getCollection, render } from "astro:content";

// components
import CreationCard from "@components/CreationCard/CreationCard.astro";

interface Props {
	creations: CollectionEntry<"creations">[];
	noTransitions?: boolean;
}

const { creations, noTransitions = false } = Astro.props as Props;
---

<div class="grid gap-x-4 gap-y-10 pt-8 md:grid-cols-3 md:pt-12">
	{creations.map((creation) => <CreationCard creation={creation} direction="vertical" />)}
</div>
