---
// main layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import Button from "@components/Button/Button.astro";
---

<BaseLayout title="404" description="Erreur 404 | Page introuvable." noindex={true}>
	<section class="site-container pt-36 text-center md:pt-44">
		<div class="mx-auto max-w-xl px-4 text-center">
			<h1 class="h1">J'ai cherché partout, je ne trouve pas cette page !</h1>
			<p class="description mt-4">
				Il faut sûrement que je fasse un peu de rangement dans mon atelier, mais en attendant je vous propose de revenir à l'accueil, et de chercher à partir de là.
			</p>
			<div class="mt-8 flex justify-center">
				<Button variant="primary" href="/">Revenir à l'accueil</Button>
			</div>
		</div>
	</section>
</BaseLayout>
