---
// components
import Button from "@components/Button/Button.astro";
---

<form id="contact-form" name="contact" class="flex h-full flex-col justify-between gap-4" method="POST" netlify >
	<input type="hidden" name="form-name" value="contact" />
	<input type="hidden" name="subject" 
  value="Prise de contact depuis le site" />
	<div>
		<label for="contact-name" class="font-heading-1 text-lg uppercase">Nom</label>
		<input type="text" class="form__input" name="name" id="contact-name" autocomplete="name" placeholder="" required />
	</div>
	<div class="flex flex-col gap-1">
		<label for="contact-email" class="font-heading-1 text-lg uppercase">Adresse e-mail</label>
		<input
			type="email"
			class="form__input"
			name="email"
			id="contact-email"
			inputmode="email"
			autocomplete="email"
			placeholder=""
			required
		/>
	</div>
	<div>
		<label for="telephone" class="font-heading-1 text-lg uppercase">Numéro de téléphone</label>
		<input type="tel" class="form__input" name="phone" id="telephone" autocomplete="tel" placeholder="" required />
	</div>
	<div>
		<label for="contact-message" class="font-heading-1 text-lg uppercase">Message </label>
		<textarea
			name="message"
			class="form__input"
			id="contact-message"
			rows="6"
			placeholder=""
			required></textarea>
	</div>
	<div class="flex">
		<Button variant="primary" type="submit" class="w-full px-10 md:w-fit">Envoyer le message</Button>
	</div>
</form>
